//fonts
$SFProText: "SF Pro Text", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$SFProDisplay: "SF Pro Display", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

// Colors
$primary: #1473e6;

$white: #ffffff;
$border: #f5f5f5;

$black: (
  300: #2c2c2c,
  200: #4b4b4b,
  100: #6e6e6e,
);

// Breakpoints
$breakpoints: (
  // "xs": "<576px"
  "mobileM": 576px,
  "tablet": 768px,
  "laptop": 992px,
  "laptopM": 1200px,
  "laptopL": 1440px
);
