*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// *, html, body {
//   cursor: none;
// }

html {
  // 62.5% of 16px is 10px
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

main {
  margin-top: 4.8rem;
}

img {
  max-width: 100%;
  height: auto;
}
